<div class="container">
    <div class="content">
        <div class="left">
            <div class="left-content">
                <div class="tabs">
                    <a href="/auth/login" class="tab active"><i class="fa-solid fa-arrow-right-to-bracket"></i> Log
                        In</a>
                    <a href="/auth/register" class="tab"><i class="fa-solid fa-user-plus"></i> Sign Up</a>
                </div>

                <h2>Welcome Back!</h2>
                <p class="subtitle">Please enter your details to log in.</p>

                <form action="/api/auth/magic-link" method="POST">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Enter your email address" required>

                    <button class="submit" type="submit">Send Magic Link</button>

                    <div class="divider">
                        <span>OR</span>
                    </div>

                    <a class="oauth" href="/api/auth/google"><img
                            src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/google.svg" alt="">Continue
                        with Google</a>
                    <a class="oauth" href="/api/auth/apple"><img
                            src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/apple.svg" alt="">Continue
                        with Apple</a>
                </form>

                <p class="signup">Don't have an account yet? <a href="/auth/register">Sign Up</a></p>

            </div>
        </div>
        <div class="right">
            <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c" alt="House">
        </div>
    </div>
</div>