<div class="container">
    <div class="content">
        <div class="left">
            <div class="left-content">
                <div class="tabs">
                    <a href="/auth/login" class="tab active">Login</a>
                    <a href="/auth/register" class="tab">Sign Up</a>
                </div>

                <h2>Welcome Back!</h2>
                <p class="subtitle">Please enter your details to login.</p>

                <form action="api/auth/login" method="POST">
                    <label>Email address</label>
                    <input type="email" name="email" placeholder="Enter your email address" required>

                    <label class="password-label">
                        Password
                        <a href="#">Forgot password?</a>
                    </label>
                    <input type="password" name="password" placeholder="Enter your password" required>

                    <button class="submit" type="submit">Log In</button>

                    <div class="divider">
                        <span>OR</span>
                    </div>

                    <button class="oauth"><img
                            src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/google.svg" alt="">Continue
                        with Google</button>
                    <button class="oauth"><img
                            src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/apple.svg" alt="">Continue
                        with Apple</button>
                    <button class="oauth"><img
                            src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/binance.svg"
                            alt="">Continue with Binance</button>
                    <button class="oauth"><img
                            src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/metamask.svg"
                            alt="">Continue
                        with Wallet</button>
                </form>

                <p class="signup">Don't have an account yet? <a href="/auth/register">Sign up</a></p>

            </div>
        </div>
        <div class="right">
            <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c" alt="House">
        </div>
    </div>
</div>