<div class="container">
    <div class="content">
        <div class="left">
            <div class="left-content">
                <div class="tabs">
                    <a href="/auth/login" class="tab">Login</a>
                    <a href="/auth/register" class="tab active">Sign Up</a>
                </div>

                <h2>Hey There!</h2>
                <p class="subtitle">Please enter your details to register.</p>

                <form action="/api/auth/signup" method="POST">
                    <label>Display Name</label>
                    <input type="text" name="display_name" placeholder="Enter your display name" required>

                    <label>Email address</label>
                    <input type="email" name="email" placeholder="Enter your email address" required>

                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter your password" required>

                    <button class="submit" type="submit">Sign Up</button>
                </form>

                <p class="signup">Don't have an account yet? <a href="/auth/register">Sign up</a></p>

            </div>
        </div>
        <div class="right">
            <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c" alt="House">
        </div>
    </div>
</div>