<div class="app">
    <%- include('./partials/sidebar') %>
        <main class="main">
            <%- include('./partials/header') %>
                <turbo-frame id="app-content">
                    <div class="content">
                        <%- include(content) %>
                    </div>
                </turbo-frame>
        </main>
        <%- include('./partials/footer') %>
</div>