<div class="app">
    <%- include('./partials/sidebar') %>
        <main class="main">
            <%- include('./partials/header') %>
                <div class="content" id="app-content">
                    <%- include(content) %>
                </div>
        </main>
        <%- include('./partials/footer') %>
</div>