<header class="navbar">
    <input type="text" name="search" id="search" class="search" placeholder="Search for music...">
    <div class="user-menu">
        <div class="user-avatar"></div>
        <div class="details">
            <h4>User Name</h4>
            <p>User Email</p>
        </div>
    </div>
</header>