<aside class="sidebar">
    <div class="logo"></div>
    <nav class="nav">
        <a href="/" data-turbo-frame="app-content"><i class="fa-solid fa-house"></i>Home</a>
        <a href="/explore" data-turbo-frame="app-content"><i class="fa-solid fa-compass"></i>Explore</a>
        <a href="/songs" data-turbo-frame="app-content"><i class="fa-solid fa-music"></i>Songs</a>
        <a href="/artists" data-turbo-frame="app-content"><i class="fa-solid fa-user"></i>Artists</a>
        <a href="/albums" data-turbo-frame="app-content"><i class="fa-solid fa-record-vinyl"></i>Albums</a>
        <hr>
        <a href="/playlists" data-turbo-frame="app-content"><i class="fa-solid fa-list-ul"></i>Your Playlists</a>
        <a href="/liked" data-turbo-frame="app-content"><i class="fa-solid fa-heart"></i>Liked Songs</a>
        <hr>
        <a href="/episodes" data-turbo-frame="app-content"><i class="fa-solid fa-podcast"></i>Your Episodes</a>
    </nav>
</aside>